@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏全局滚动条，为手机 App 极简纯净体验定制 */
html, body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari and Opera */
}

/* 局部弹性容器也同样隐藏滚动条 */
.scrollbar-none::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-none {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
